{% load static %}
<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pr-10" data-aos="zoom-in" data-aos-duration="1700">
      <div class="w-full sm:p-4 px-4 mb-6">
        <h1 class="title-font font-medium text-xl mb-2 text-white">Nos exploits</h1>
        <div class="leading-relaxed">
          Depuis nos débuts, nous avons créé des dizaines de gâteaux uniques pour célébrer vos moments précieux. Anniversaires, mariages ou événements professionnels, chaque création est réalisée avec
          passion pour allier saveur et élégance. Votre satisfaction est notre plus belle fierté.
        </div>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
        <h2 class="title-font font-medium text-3xl text-white">2.7k</h2>
        <p class="leading-relaxed">Clients</p>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
        <h2 class="title-font font-medium text-3xl text-white">1.8K</h2>
        <p class="leading-relaxed">Avis</p>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
        <h2 class="title-font font-medium text-3xl text-white">35</h2>
        <p class="leading-relaxed">Produits</p>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
        <h2 class="title-font font-medium text-3xl text-white">4</h2>
        <p class="leading-relaxed">Magasins</p>
      </div>
    </div>
    <div class="lg:w-1/2 sm:w-1/3 w-full overflow-hidden mt-6 sm:mt-0" data-aos="zoom-in" data-aos-duration="1700">
      <img class="object-cover object-center w-full h-full round" src="{% static 'img/fleurs.jpeg' %}" alt="stats" />
    </div>
  </div>
</section>
