{% load static %}
<section id="products" class="text-gray-400 body-font bg-gray-900">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 data-aos="fade-down" data-aos-duration="1500" class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white">Nos délicieuses créations</h1>
        <div class="h-1 w-20 bg-red-500 rounded"></div>
      </div>
      <p data-aos="fade-down" data-aos-duration="1500" class="lg:w-1/2 w-full leading-relaxed text-gray-400 text-opacity-90">Livraison rapide & ingrédients 100% frais</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4" data-aos="fade-up" data-aos-duration="1700">
        <div class="bg-gray-800 border-2 border-gray-800 bg-opacity-40 p-6 rounded-lg hover:border-d-2 hover:border-red-500 hover:cursor-pointer ease-in duration-300">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static 'img/cake11.jpg' %}" alt="content" />
          <h3 class="tracking-widest text-red-400 text-xs font-medium title-font">SUBTITLE</h3>
          <h2 class="text-lg text-white font-medium title-font mb-4">Red Velvet</h2>
          <p class="leading-relaxed text-base">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci architecto mollitia maiores quas rem facilis.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4" data-aos="fade-up" data-aos-duration="1700">
        <div class="bg-gray-800 border-2 border-gray-800 bg-opacity-40 p-6 rounded-lg hover:border-d-2 hover:border-red-500 hover:cursor-pointer ease-in duration-300">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static 'img/cake10.jpg' %}" alt="content" />
          <h3 class="tracking-widest text-red-400 text-xs font-medium title-font">SUBTITLE</h3>
          <h2 class="text-lg text-white font-medium title-font mb-4">Chocolate Fudge</h2>
          <p class="leading-relaxed text-base">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus cum magni aut. Earum, temporibus ratione!</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4" data-aos="fade-up" data-aos-duration="1700">
        <div class="bg-gray-800 border-2 border-gray-800 bg-opacity-40 p-6 rounded-lg hover:border-d-2 hover:border-red-500 hover:cursor-pointer ease-in duration-300">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static 'img/fleurs.jpeg' %}" alt="content" />
          <h3 class="tracking-widest text-red-400 text-xs font-medium title-font">SUBTITLE</h3>
          <h2 class="text-lg text-white font-medium title-font mb-4">Vanilla Bean</h2>
          <p class="leading-relaxed text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem laboriosam eaque, odio necessitatibus non omnis?</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4" data-aos="fade-up" data-aos-duration="1700">
        <div class="bg-gray-800 border-2 border-gray-800 bg-opacity-40 p-6 rounded-lg hover:border-d-2 hover:border-red-500 hover:cursor-pointer ease-in duration-300">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static 'img/sac.jpeg' %}" alt="content" />
          <h3 class="tracking-widest text-red-400 text-xs font-medium title-font">SUBTITLE</h3>
          <h2 class="text-lg text-white font-medium title-font mb-4">Strawberry Short</h2>
          <p class="leading-relaxed text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem laboriosam eaque, odio necessitatibus non omnis?</p>
        </div>
      </div>
    </div>
  </div>
</section>
